{% extends "core.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="container">
        <h1>About</h1>
        <p>This is a simple web application built using Flask that allows you to search Wikipedia articles and bookmark your favorite pages.</p>
        <p>The goal is to provide you with a user-friendly and efficient way to explore Wikipedia content and keep track of articles that interest you.</p>
        <p>Feel free to use the search feature to find articles, save them for later reading, and learn more about the world's knowledge!</p>
    </div>
{% endblock %}
