{% extends "core.html" %}
{% block title %}Bookmarks{% endblock %}
{% block content %}
    <div class="pages-bookmark">
        <h2>Bookmarks</h2>
        {% if bookmarks %}
            <ul class="list-bookmark">
                {% for page in bookmarks %}
                    <li class="item-bookmark">
                        <a class="link-bookmark" href="{{ page.url }}" target="_blank">{{ page.title }}</a>
                        <form action="{{ url_for('remove_bookmark', page_title=page.title) }}" method="post" class="remove-form">
                            <button class="button-remove" type="submit">Remove</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
            <form action="{{ url_for('clear_bookmark') }}" method="get" class="clear-form">
                <button class="button-clear" type="submit">Clear All Bookmarks</button>
            </form>
        {% else %}
            <p class="no-bookmark">Bookmarks are empty.</p>
        {% endif %}
        <a class="link-back" href="{{ url_for('index') }}">Back to Home</a>
    </div>
{% endblock %}
